<h1>Productos</h1>
<div class="card">
    <div class="card-header">
        Producto
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="title" class="form-label">Producto</label>
        <input type="text" name="title" id="title" value="{{selectedProduct.title}}" class="form-control">
        <label for="price" class="form-label">Precio</label>
        <input type="text" name="price" id="price" value="{{selectedProduct.price}}" class="form-control">
        <label for="description">Descripcion</label>
        <input type="textarea" name="description" id="description" value="{{selectedProduct.description}}">
      </div>
      <div class="card-footer text-muted">
        <button (click)="updateProduct()">Actualizar</button>
      </div>
    </div>
  </div>
<hr>
<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Categoria</th>
      <th scope="col">Imagenes</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Guardar</th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor ="let product of products" >
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
      <td><img src="{{product.images}}" alt="" width="150px" height="200px"></td>
      <td><button (click)="deleteProduct(product.id)">Eliminar</button></td>
      <td><button (click)="editProduct(product)">Editar</button></td>

    </tr>
  </tbody>
</table>
